@import '_config';

@mixin rc-html-bar-chart (
    $font-color: white,
    $bar-color: steelblue
    ) {
    rc-html-bar-chart {
        div {
            font: 10px sans-serif;
            background-color: $bar-color;
            color: $font-color;
        }
    }
}