@import '../style/_config';

.demo-header {
	padding: 20px;

	h1 {
		text-transform: uppercase;
	}
}

#DemoContainer {
	padding: 0 20px;

	section {
		padding: 20px 0;
	}
}

input.error {
	color: red;
}
