
// Color Palette
// VANILLA
$color--vanilla: #f3e5ab !global
$color--soft-blue: #6881e9 !global
$color--light-grayish-yellow: #fdfaee !global

// MINT
$color--mint: #98ff98 !global
$color--very-light-magenta: #ff98ff !global
$color--mint-cream: #f5fffa !global
