@import '_config';

@import '../components/button/button.mixins';
@import '../components/charts/simple-bar/simple-bar-chart.mixins';

.mint {
	background: $color--mint-cream;

	@include rc-button(
		$font-color: $color--mint,
		$background-color: $color--very-light-magenta
	)

	@include rc-simple-bar-chart(
		$font-color: $color--mint,
		$bar-color: $color--very-light-magenta
	)
}
