@import '_config';

@import '../components/button/button.mixins';
@import '../components/charts/bar/html.mixins';
@import '../components/charts/bar/simple.mixins';

.mint {
	background: $color--mint-cream;

	@include rc-button(
		$font-color: $color--mint,
		$background-color: $color--very-light-magenta
	)

	@include rc-html-bar-chart(
		$font-color: $color--mint,
		$bar-color: $color--very-light-magenta
	)

	@include rc-simple-bar-chart(
		$font-color: $color--mint,
		$bar-color: $color--very-light-magenta
	)
}
